---
layout: default
card:
 - headline: Ibiza
   description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed tempore reprehenderit repudiandae, ea doloremque quas assumenda repellat veritatis odit, quia error iste.
   featured_image: /images/the-sleep-co-white.jpg
 - headline: Tokyo
   description: Sed tempore reprehenderit repudiandae, ea doloremque quas assumenda repellat veritatis odit, quia error iste, sint esse vel consequuntur adipisci maiores totam cumque.
   featured_image: /images/the-sleep-co-pug.jpg
 - headline: Maledives
   description: Ea doloremque quas assumenda repellat veritatis odit, quia error iste, sint esse vel consequuntur adipisci maiores totam cumque.
   featured_image: /images/the-sleep-co-coffee.jpg
---

    <!-------------- This is the header -------------->
    <header class="bg-index grid text-center tall-100 md-tall-80">
        
        {% include header-nav.html %}
        
        <div class="col-12">
        <h3 class="bold-weight editable">
            Addictively<span class="highlight">soft</span>
        </h3>
        <h1 class="normal-weight editable">You won't want to get out of bed.</h1>
        </div>
    </header>

    <!-------------- These are the features -------------->
    <section class="padded grid bg-featured">
        <div class="padded-s col-12 text-center editable">
            <h2><span class="highlight-light">Features</span> you will love</h2>
        </div>
        <div class="padded-s col-3_xs-12 editable">
            <h3>This is a heading</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam rem blanditiis eveniet provident voluptatem delectus temporibus possimus quasi eos esse. Culpa blanditiis maxime aperiam corrupti rem eos molestiae ut nihil?</p>
        </div>
        <div class="padded-s col-3_xs-12 editable">       
            <h3>This is a heading</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam rem blanditiis eveniet provident voluptatem delectus temporibus possimus quasi eos esse. Culpa blanditiis maxime aperiam corrupti rem eos molestiae ut nihil?</p></div>
        <div class="padded-s col-3_xs-12 editable">      
            <h3>This is a heading</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam rem blanditiis eveniet provident voluptatem delectus temporibus possimus quasi eos esse. Culpa blanditiis maxime aperiam corrupti rem eos molestiae ut nihil?</p></div>
        <div class="padded-s col-3_xs-12 editable">      
            <h3>This is a heading</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam rem blanditiis eveniet provident voluptatem delectus temporibus possimus quasi eos esse. Culpa blanditiis maxime aperiam corrupti rem eos molestiae ut nihil?</p></div>
    </section>   

    <!-------------- These are the cards -------------->
    <section class="grid padded">
        
        {% for item in page.card %}
        <div class="col-4_xs-12 padded-s">
            <div class="card">
                <div class="bg-image portrait" style="background-image: url('{{item.featured_image}}')"></div>
                <div class="padded-s">
                    <h3>{{item.headline}}</h3>
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}

    </section>

    <!-------------- This is the banner -------------->
    <section class="padded text-center bg-dark tall-70 grid">
        <div class="col-12-middle">
            <h3 class="big-text">
                <span class="small-text normal-weight">Spend over $150 and activate</span> 
                <br/><span class="highlight">free</span>express shipping
            </h3>
        </div>
    </section>

 <!-------------- This a image/text section -------------->
 <section class="grid">
    <div class="padded col-6_xs-12-middle">
        <h2 class="editable">
            Built to last a <span class="highlight">lifetime</span>
        </h2>
        <p class="editable">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus beatae possimus provident maiores quis repellat nihil omnis ratione, adipisci reiciendis illum totam ab eum neque <strong>ipsam</strong> facere nostrum eligendi quaerat.
        </p>
        <p class="editable">
            Necessitatibus beatae possimus provident maiores quis repellat nihil omnis ratione, adipisci <a target="_blank" rel="noopener" href="https://www.google.com">reiciendis illum totam</a> ab eum neque ipsam facere nostrum eligendi quaerat.
        </p>
    </div>
    <div class="bg-image bg-blue col-6_xs-12 tall-70">
        <!---- Background image bed ---->
    </div>
    <div class="bg-image bg-pug col-6_xs-12 tall-70">   
        <!---- Background image bed ---->
    </div>  
    <div class="padded col-6_xs-12-middle editable"> 
        <h2 class="editable">
            So <span class="highlight">soft</span> you'll melt
        </h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus beatae possimus provident maiores quis repellat nihil omnis ratione, adipisci reiciendis illum totam ab eum neque ipsam facere nostrum eligendi quaerat.
        </p>
        <p>
            Necessitatibus beatae possimus provident maiores quis repellat nihil omnis ratione, adipisci reiciendis illum totam ab eum neque ipsam facere nostrum eligendi quaerat.
        </p>
    </div>
    <div class="padded col-6_xs-12-middle">
        <h2 class="editable">
            Built to last a <span class="highlight">lifetime</span>
        </h2>
        <p class="editable">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus beatae possimus provident maiores quis repellat nihil omnis ratione, adipisci reiciendis illum totam ab eum neque <strong>ipsam</strong> facere nostrum eligendi quaerat.
        </p>
        <p class="editable">
            Necessitatibus beatae possimus provident maiores quis repellat nihil omnis ratione, adipisci <a target="_blank" rel="noopener" href="https://www.google.com">reiciendis illum totam</a> ab eum neque ipsam facere nostrum eligendi quaerat.
        </p>
    </div>
    <div class="bg-image bg-pug col-6_xs-12 tall-70">   
        <!---- Background image bed ---->
    </div>  
</section>