<!-- <header class="bg-image {{page.header-image}} {{page.header-height}} grid text-center">
    
    <div class="header-nav col-12-top grid">
        <div class="col-5_sm-12-middle text-left sm-text-center sm-padded-b-0">
           <a href="/index.html" class="logo">
            <h2>The Sleep Co</h2>
           </a>
        </div>
        <nav class="col-7_sm-12-middle text-right sm-text-center">
         <a href="/index.html">Home</a>
         <a href="/about.html">About</a>
         <a href="/products.html">Products</a>
         <a href="/contact.html">Contact</a>
      </nav>
    </div>
    
    <div class="col-12">
    <h3 class="bold-weight editable">
        <span class="highlight">{{page.header-featured}}/span> {{page.header-headline}}
    </h3>
    <h1 class="normal-weight editable">
        {{page.subline}}
    </h1>
    </div>
</header>

---
header-image: bg-blue
header-height: tall-100
header-featured: No sleep
header-headline: today   
--- -->