
<!-------------- This is Footer -------------->
<footer class="padded grid-spaceBetween bg-dark">
    <div class="col-5_sm-12-bottom">
        <h2>Let's <br /> <span class="highlight">connect</span> </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima incidunt quibusdam rem. Adipisci rerum aliquid non quos quisquam, placeat fugiat laudantium id amet nemo exercitationem veritatis voluptatum dicta at nobis!</p>
    </div>
    <div class="col-4_sm-12-bottom">
        <p><strong>Call:</strong> <a href="tel:#">04555 5555</a></p>
        <p><strong>Email</strong> <a href="mailto:#">hello@thesleep.co</a></p>
        <p><strong>Store:</strong> 55 Main St, Chicago</p>
        <p><strong>Instagram:</strong> <a href="https://www.instagram.com/thesleepco">@thesleepco</a></p>
    </div>
</footer>