
    <section class="padded-l grid">
        <div class="col-1 text-right">
            <span class="quotation-marks">“</span>
        </div>
        <div class="col-10 text-center">
            <p class="medium-text light-weight">I've never experienced sleep like this. OMG I really love this mattress. I want to buy one for every member of my family.</p>
            <p class="subtitle">- A very happy customer</p>
        </div>
        <div class="col-1 text-left">
            <span class="quotation-marks">”</span>
        </div>
    </section>